<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/style2.css">
<link rel="stylesheet" href="./css/styleLeaderboard.css">
	<title>quiz1o1</title>
</head>


<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()" style="text-align:center;"><h5>Collapse &times</h5></button>
  <img src="user.jpg" height="200" width="200" style="border-radius:50%;"><br><br><br>


  <div style='text-align:center;'>{{navbar[0]}} <br><i>(@{{navbar[1]}})</i></div><br><br><div style='text-align:center'>{{navbar[2]}} Points</div>



  <a href="/user" style="text-align:center;margin-top:60px;" class="w3-bar-item w3-button"><h3>Home</h3></a>
  <a href="/question" style="text-align:center;" class="w3-bar-item w3-button"><h3>Questions</h3></a>
  <a href="#" style="text-align:center;" class="w3-bar-item w3-button"><h3>Leaderboard</h3></a>

  {% if navbar[3]==1 %}
    <a href="/admin" style="text-align:center;" class="w3-bar-item w3-button"><h3>Admin Panel</h3></a>;
  {% endif %}


</div>
<div id="main">
<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
<div class="container">
<div class="leader">Leaderboard</div>


{% for member in leaderboardlist %}
        <p class='q_holder' 

{% if member.display==currentuser %}
    style='background-color:#00ff0099;''
{% endif %}


        ><span>{{loop.index}}</span>  {{member.display}} ({{member.points}})</p>
    {% endfor %}


<script src="./js/navbar.js"></script>



</body>
</html>